on: [push, pull_request]
name: CI

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Check format using clang-format
        run: |
          find . -type d -name "contrib" -prune -or -type f \( -name '*.h' -or -name '*.cpp' \) -print \
          | xargs clang-format --dry-run -Werror --style=file

  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    name: ${{ matrix.os }}-build
    runs-on: ${{ matrix.os}}

    steps:
      - uses: actions/checkout@v2

      - name: Install Packages (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            ninja-build \
            libgmp-dev \
            openjdk-8-jdk

      - name: Install Packages (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install \
            ninja \
            gmp

      - name: Python Environment Setup
        run: |
          python3 -m venv ./.venv
          echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - name: Python Dependencies (all)
        run: python3 -m pip install Cython pytest pyparsing toml meson

      - name: Python Dependencies (all)
        run: python3 -m pip install scikit-build

      - name: Download MathSAT
        if: runner.os != 'macOS'
        run: ./ci-scripts/setup-msat.sh --auto-yes

      - name: Setup Flex
        run: ./contrib/setup-flex.sh

      - name: Setup Bison
        run: ./contrib/setup-bison.sh

      - name: Setup Btor2Tools
        run: ./contrib/setup-btor2tools.sh

      - name: Setup Smt-Switch (macOS)
        if: runner.os == 'macOS'
        run: ./contrib/setup-smt-switch.sh --python

      - name: Setup Smt-Switch (non-macOS)
        if: runner.os != 'macOS'
        run: ./contrib/setup-smt-switch.sh --with-msat --python

      - name: Set up Python bindings for smt-switch
        run: python3 -m pip install -e ./deps/smt-switch/build/python

      - name: Configure (macOS)
        if: runner.os == 'macOS'
        run: ./configure.sh --debug --python

      - name: Configure (non-macOS)
        if: runner.os != 'macOS'
        run: ./configure.sh --with-msat --debug --python

      - name: Build
        run: |
          cd build
          make -j

      - name: Test C++
        run: |
          cd build
          make check

      - name: Install Python Bindings
        run: python3 -m pip install -e ./build/python[test,pysmt]

      - name: Test Python Bindings
        run: pytest ./tests
